
        <main class="contact-container">

            <h1>Contactez-nous</h1>
            <p>Pour toute question liée au quiz, suggestions ou signalement d’un bug !</p>

            <form id="contact-form">
                <input type="text" id="contact-name" placeholder="Votre nom" required />
                <input type="email" id="contact-email" placeholder="Votre email" required />
                <textarea id="contact-message" placeholder="Votre message..." required></textarea>

                <button id="contact-submit">Envoyer</button>
            </form>

            <!-- Message retour -->
            <p id="contact-feedback" class="feedback hidden"></p>

        </main>