<main class="score-container">

            <!-- SECTION SCORE PERSONNEL -->
            <section class="user-score">

                <h1>Votre Score</h1>
                <p id="welcome-user">Bienvenue, <span id="user-name"></span></p>

                <div class="score-info">
                    <p>Meilleur score : <span id="best-score">-</span>/20</p>
                    <p>Dernier score : <span id="last-score">-</span>/20</p>
                </div>
                
            </section>

            <!-- SECTION TOP MONDIAL -->
            <section class="leaderboard">
                <h2>Classement Mondial</h2>

                <table>
                    <thead>
                        <tr>
                        <th>#</th>
                        <th>Pseudo</th>
                        <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard-body">
                        <!-- js va insérer les lignes -->
                    </tbody>
                </table>
            </section>

        </main>